body{
    background-color: lightgray;
}

.image{
    background-image:
    url("img/Worf.jpg" );
    background-size: cover;
    background-position: center;
    height: 200px;
    padding-top: 50px;
}