body{
    background-color: lightblue;
}

h1{
    font-size: 50px;
    padding-top: 40px;
    width: 100%;
    text-align:center;
    font-family: cursive;
    color: white;
    font-weight: 100;
    border-bottom: 2px solid;
    border-color: black;
}

.biopic{
    float: left;
    width: 200px;
    padding-bottom: 70px;
    padding-right: 15px;
    padding-left: 10px;
}

.byline{
    font-family: Georgia;
    float: left;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 100px;
}

blockquote{
    font-weight: 100;
    color: white;
    padding-top: 400px;
    font-family: courier new;
    letter-spacing: 2px;
}


.image{
    background-image:
    url("img/leaves.jpg" );
    background-size: cover;
    background-position: center;
    height: 100px;
    padding-top: 50px;
}